@charset "utf-8";.lnb-wrap .lnb-box,.wrapping,header #gnb .gnb-wrap {
    width: 1050px;
    margin: 0 auto
}

aside .submenu-banner .sub-present,header #lnb .lnb-style-all .lnb-all-wrap .menu-banner .lnb-present {
    display: initial;
    vertical-align: bottom
}

.wrapping#futures,body {
    width: 100%
}

#wrap {
    min-width: 1050px;
    margin: 0 auto
}

.wrapping {
    position: relative
}

.wrapping::after {
    content: "";
    display: table;
    clear: both
}

.wrapping#futures #contents {
    float: none;
    width: 1050px;
    margin: 0 auto
}

.bgf3 {
    background: #f3f3f3
}

.lnb-wrap {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    background: #fff;
    z-index: 5
}

.lnb-wrap.fixed {
    top: 0
}

header #gnb .gnb-wrap {
    position: relative;
    height: 41px
}

header #gnb .gnb-wrap .sponsor {
    position: absolute;
    top: 0;
    left: -34px;
    height: 40px
}

header #gnb .gnb-wrap .kbo-allstar {
    display: inline-block;
    margin-top: 9px;
    margin-left: 450px;
    padding: 1px 15px 2px;
    background: #292c6b;
    color: #fff!important;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box
}

header #gnb .menu {
    position: absolute;
    top: 15px;
    right: 170px
}

header #gnb .menu li {
    float: left;
    vertical-align: top;
    line-height: 1
}

header #gnb .menu li a {
    display: block;
    padding-left: 15px;
    color: #4d4c4c
}

header #gnb .menu li a:after {
    content: "|";
    margin-left: 15px
}

header #gnb .menu li:last-child a:after {
    content: ""
}

header #gnb .search-area {
    position: absolute;
    top: 8px;
    right: 0;
    margin-left: 10px
}

header #gnb .search-area .search-box {
    position: relative
}

header #gnb .search-area .search-box .ipt-search {
    width: 165px;
    height: 24px;
    padding: 5px 10px;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    border-radius: 2px;
    background: #f3f3f3;
    line-height: 1.2
}

header #gnb .search-area .search-box .ipt-search:focus {
    border: 2px solid #4267b2;
    padding: 4px 10px
}

header #gnb .search-area .search-box .btn-search {
    position: absolute;
    top: 5px;
    right: 10px
}

header #gnb .search-area .search-result {
    display: none;
    position: absolute;
    top: 25px;
    right: -35px;
    width: 200px;
    border: 1px solid #888;
    background: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 1500
}

header #gnb .search-area .search-result .null {
    padding: 14px 0;
    text-align: center;
    color: #444;
    font-weight: 700
}

header #gnb .search-area .search-result h4 {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 0;
    font-weight: 700;
    color: #666;
    background: #dbdbdb;
    box-sizing: border-box
}

header #gnb .search-area .search-result a {
    display: block;
    position: relative;
    padding: 12px 10px;
    font-weight: 700;
    border-bottom: 1px solid #ddd
}

header #gnb .search-area .search-result a:hover {
    background: #f1f3f5;
    color: #346173!important
}

header #gnb .search-area .search-result a:hover dd,header #gnb .search-area .search-result a:hover dt {
    color: #346173!important
}

header #gnb .search-area .search-result dt {
    color: #444
}

header #gnb .search-area .search-result dd {
    color: #888
}

header #gnb .search-area .search-result .btn-arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -9px
}

header #gnb .search-area .search-result p {
    padding: 7px 10px;
    color: #888;
    background: #f8f8f8
}

header .logo {
    float: left;
    padding: 17px 0;
}

header .logo span {
    font-style: italic;
    padding-left: 3px;
    line-height: 32px;  
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    color: #002063;
}

header nav {
    float: right
}

header #lnb {
    overflow: hidden;
    margin-top: 18px
}

header #lnb>li {
    float: left;
    padding-top: 7px
}

header #lnb>li>a {
    display: block;
    padding: 0 0 22px;
    margin: 0 25px;
    font-size: 15px;
    color: #121212;
    font-weight: 700
}

header #lnb>li.on>a,header #lnb>li>a:hover {
    padding-bottom: 21px;
    border-bottom: 2px solid #000
}

header #lnb .lnb-sub {
    display: none;
    position: absolute;
    top: 67px;
    left: 0;
    width: 100%;
    min-height: 291px;
    text-align: left;
    background: rgba(0,0,0,.8);
    z-index: 150
}

header #lnb .lnb-style-all .lnb-all ul li a,header #lnb>li.active>.lnb-sub,header #lnb>li.on>.lnb-sub {
    display: block
}

header #lnb .lnb-sub>ul {
    position: absolute;
    top: 0;
    min-width: 135px;
    background: #f3f3f3;
    padding: 20px 15px 10px
}

header #lnb .lnb-sub>ul li {
    color: #303030;
    font-size: 14px;
    margin-bottom: 8px
}

header .lnb-wrap #lnb .market a {
    margin: 0 25px
}

header #lnb .lnb-style-all .lnb-all:last-child,header .lnb-wrap #lnb .kbofont a {
    margin-right: 0
}

header .lnb-wrap #lnb .lnb-sub {
    width: 1000%;
    transform: translateX(-45%)
}

header .lnb-wrap #lnb .lnb-sub .lnb01 {
    left: 50%;
    margin-left: -360px
}

header .lnb-wrap #lnb .lnb-sub .lnb02 {
    left: 50%;
    margin-left: -238px
}

header .lnb-wrap #lnb .lnb-sub .lnb04 {
    left: 50%;
    margin-left: -117px
}

header .lnb-wrap #lnb .lnb-sub .lnb05 {
    left: 50%;
    margin-left: -39px
}

header .lnb-wrap #lnb .lnb-sub .lnb06 {
    left: 50%;
    margin-left: 184px
}

header #lnb .lnb-style-all .lnb-all-wrap {
    width: 1020px;
    padding: 30px 35px 20px;
    margin-bottom: 20px;
    background: #f3f3f3
}

header #lnb .lnb-style-all h3 {
    float: left;
    margin: 5px 90px 0 0;
    font-weight: 700;
    font-size: 20px;
    color: #121212
}

header #lnb .lnb-style-all .lnb-all {
    float: left;
    width: 110px;
    margin-right: 35px
}

header #lnb .lnb-style-all .lnb-all h4 {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd
}

header #lnb .lnb-style-all .lnb-all ul li {
    margin-bottom: 7px;
    font-size: 13px;
    letter-spacing: -1px
}

header #lnb .lnb-style-all .lnb-all ul li.menu0305 {
    letter-spacing: -2px
}

header #lnb .lnb-style-all .kbo03,header #lnb .lnb-style-all .menu03,header #lnb .lnb-style-all .menu09 {
    width: 120px
}

header #lnb .lnb-style-all .kbo04,header #lnb .lnb-style-all .menu04,header #lnb .lnb-style-all .menu10 {
    width: 130px
}

aside h3,header #lnb .lnb-style-all .kbo05,header #lnb .lnb-style-all .menu05,header #lnb .lnb-style-all .menu11 {
    width: 115px
}

header #lnb .lnb-style-all .lnb-all-wrap .menu-banner {
    position: absolute;
    top: 235px;
    left: 10px;
    padding: 29px 14px 11px 65px;
    background: url('//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/common/gnb_together.png') 0 0/281px no-repeat;
    color: #383841;
    font-size: 15px;
    text-align: right;
    letter-spacing: -1.5px
}

header #lnb .lnb-style-all .lnb-all-wrap .menu-banner .lnb-present span {
    display: inline-block;
    width: 17px;
    padding: 3px 0;
    border-radius: 3px;
    background: #383841;
    color: #fff;
    font-size: 18px;
    text-align: center
}

footer #kboInfo address dl,header #lnb .lnb-style-all .lnb-all-wrap .line {
    overflow: hidden
}

header #lnb .lnb-style-all .lnb-all-wrap .line01 h3 {
    margin-right: 68px
}

header #lnb .lnb-style-all .lnb-all-wrap .line02 {
    margin: 10px 0 0 150px;
    border-top: 1px solid #d8d8d8
}

header #lnb .lnb-style-all .lnb-all-wrap .line02 h3 {
    float: none;
    padding: 15px 0;
    margin: 10px 0 0
}

header #lnb .lnb-style-all .btn-close {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: 555px
}

header #lnb .lnb-style-all .btn-close a {
    color: #fff;
    vertical-align: middle
}

#contents .location span a img,header #lnb .lnb-style-all .btn-close a img {
    vertical-align: middle
}

header #lnb .lnb-style-all .btn-close a span {
    padding-left: 5px;
    vertical-align: middle;
    font-size: 15px
}

header #lnb .futures>a {
    color: #09d3d3
}

header #lnb .market a {
    margin-right: 0;
    color: #ab0419
}

#contents .location,#contents .location span a {
    font-size: 12px;
    color: #888;
    vertical-align: middle
}

#container {
    overflow: hidden;
    margin: 0 auto;
    min-height: 800px;
    padding: 50px 0
}

#container aside {
    float: left;
    width: 175px;
    padding: 12px 0 0 14px;
    margin-right: 45px
}

aside h3 {
    font-size: 20px;
    margin: 0 0 30px 15px;
    padding-bottom: 25px;
    border-bottom: 4px solid #000;
    color: #111;
    line-height: 1.3
}

aside.futures h3 {
    padding-bottom: 17px;
    border-bottom: 4px solid #002373;
    text-align: center
}

aside #snb {
    margin-left: 15px
}

aside #snb li {
    margin-bottom: 18px
}

aside #snb li a {
    display: block;
    font-size: 15px;
    color: #7c7c7c
}

aside #snb li a:hover,aside #snb li.on a {
    font-weight: 700;
    color: #222
}

aside .sub-banner {
    width: 143px;
    height: 84px;
    border: 1px solid #ccc
}

aside .snb-depth {
    margin-top: 30px;
    padding: 20px 14px;
    background: #f7f7f7;
    color: #7c7c7c
}

aside .snb-depth h4 {
    width: 116px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.2;
    border-bottom: 4px solid #7c7c7c
}

aside .snb-depth>#snb {
    margin: 0
}

aside .submenu-banner {
    width: 175px;
    padding: 44px 3px 19px 0;
    background: url('//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/sub/submenu_together.png') 0 0/175px no-repeat;
    text-align: right;
    box-sizing: border-box
}

aside .submenu-banner .sub-present {
    color: #1f150b;
    letter-spacing: -1px
}

aside .submenu-banner .sub-present span {
    display: inline-block;
    width: 14px;
    padding: 2px 0;
    border-radius: 2px;
    background: #383841;
    color: #fff;
    font-size: 15px;
    text-align: center
}

#container #contents {
    position: relative;
    float: right;
    width: 838px
}

#container #futures {
    margin-top: -50px
}

#contents .location {
    text-align: right
}

#contents .location span a {
    display: inline-block
}

#contents .tit-page {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -1px
}

#contents .tit-ebook {
    padding: 0 0 20px 12px;
    border-bottom: 6px solid #000
}

#contents .menu-list-box,#contents .menu-list-box .menu-type .menu-line {
    border-bottom: 1px solid #000
}

#contents .ebook-menu {
    width: 384px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center
}

#contents .ebook-menu::after,enu::after {
    content: '';
    display: block;
    clear: both
}

#contents .menu-list-box .select-box {
    position: absolute;
    right: 0;
    top: 0
}

#contents .ebook-menu li {
    float: left
}

#contents .ebook-menu li a {
    padding: 7px 37px 10px 38px;
    font-size: 18px;
    border: 1px solid #b9b9b9
}

#contents .ebook-menu li.on a {
    background: #000;
    color: #fff;
    border: 1px solid #000
}

#contents .menu-list-box {
    position: relative;
    width: 100%;
    padding-bottom: 35px
}

#contents .menu-list-box ul {
    overflow: hidden;
    text-align: center
}

#contents .menu-list-box .txt-tip {
    padding-top: 25px;
    font-size: 15px;
    text-align: center
}

#contents .menu-list-box ul li {
    float: left;
    width: 16.66%;
    cursor: pointer
}

#contents .menu-list-box ul li a {
    display: inline-block;
    width: 100%;
    padding: 13px 0;
    font-size: 14px
}

#contents .menu-list-box ul li.on a {
    background: #000;
    color: #fff
}

#contents .menu-list-box .menu-type {
    margin: 35px 0 15px
}

footer {
    background: #002063
}

footer #fnb {
    border-top: 1px solid #4e4e4e
}

footer #fnb .fnb-wrap {
    position: relative;
    padding: 20px 0 10px
}

footer #fnb .fnb-wrap .fnb-list {
    overflow: hidden;
    margin-left: 130px
}

footer #fnb .fnb-wrap .fnb-list li {
    float: left;
    color: #687898;
    margin-right: 50px;
    margin-bottom: 13px
}

footer #fnb .fnb-wrap .fnb-list li a {
    display: block;
    color: #fff;
    font-size: 13px
}

footer #fnb .fnb-wrap .fnb-list li.privacy a {
    font-weight: 700;
    color: #00bece
}

footer #fnb .fnb-wrap .btn-kbo {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 13px;
    font-weight: 700
}

footer #fnb .fnb-wrap .btn-kbo a {
    position: relative;
    color: #fff;
    padding-right: 25px
}

footer #fnb .fnb-wrap .btn-kbo a:after {
    content: "\002B";
    position: absolute;
    top: -2px;
    right: 0;
    font-size: 17px;
    font-family: ng;
    color: #fff
}

footer #kboInfo {
    position: relative;
    padding: 0 0 30px;
    color: #fff
}

footer #kboInfo h2 {
    float: left;
    padding: 25px 0 0 50px;
}

footer #kboInfo address {
    float: left;
    width: 750px;
    margin-top: 22px
}

footer #kboInfo address .address01,footer #kboInfo address .address02 {
    float: left;
    margin-right: 80px
}

footer #kboInfo address p {
    color: #b3bcce
}

footer #kboInfo address dl dt {
    float: left;
    width: 120px;
    color: #a0a0a0
}

footer #kboInfo address dl dd {
    float: left;
    width: 170px;
    color: #dadada
}

footer #kboInfo .copyright {
    float: left;
    color: #687898
}

footer #kboInfo .certification {
    position: absolute;
    top: 5px;
    right: 0
}
