{% extends 'layout/base.html' %}

{% block content %}
   <!-- wrap -->
   <div id="wrap">

      {% include "layout/header.html" %}

      <hr>

      <section id="LiveRelay" class="">
         <div class="game-schedule">
            <div class="tab-league">
               <ul class="tab three">
                  <li class="tab-main-tit on" le-id="1" sr-id="0" id="leagueRegular"><a href="#none">KBO 정규시즌</a></li>
                  <li class="tab-main-tit tab-main-fl" le-id="2" sr-id="0,1,10,15" id="leagueFutures"><a href="#none">KBO 퓨처스리그</a></li>
               </ul>
            </div>
            <div class="today-game">
               <div class="bx-wrapper">
                  <div class="bx-viewport">
                     <ul class="game-list-n">
                        {% for game in games %}
                        <li class="game-cont" game_sc="{{ game.game_sc }}" le_id="{{ game.le_id }}" sr_id="{{ game.sr_id }}" season="{{ game.season }}" g_id="{{ game.g_id }}" g_dt="{{ game.g_dt }}" s_nm="{{ game.s_nm }}" vs_game_cn="{{ game.vs_game_cn }}" away_id="{{ game.away_id }}" home_id="{{ game.home_id }}" away_nm="{{ game.away_nm }}" home_nm="{{ game.home_nm }}" away_p_id="{{ game.away_p_id }}" home_p_id="{{ game.home_p_id }}" entry_ck="{{ game.entry_ck }}" start_ck="{{ game.start_ck }}" result_ck="{{ game.result_ck }}" lineup_ck="{{ game.lineup_ck }}" vod_ck="{{ game.vod_ck }}" kbot_se="{{ game.kbot_se }}">
                           <div class="wrap">
                              <div class="top">
                                 <ul>
                                    <li>{{ game.gamedate_str }}</li>
                                 </ul>
                              </div>
                              <div class="middle">
                                 <div class="broadcasting">{{ game.time }}</div>
                                 <p class="staus">{{ game.s_nm }}</p>
                                 <div class="info">
                                    <div class="team away">
                                       <div class="emb"><img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/emblem_{{ game.away_id }}.png" alt="{{ game.away_nm }}"></div>
                                       <div class="today-pitcher">
                                          <p><span class="before">선</span>{{ game.away_pitcher }} </p>
                                       </div>
                                    </div>
                                    <div class="vs">VS</div>
                                    <div class="team home">
                                       <div class="emb"><img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/emblem_{{ game.home_id }}.png" alt="{{ game.home_nm }}"></div>
                                       <div class="today-pitcher">
                                          <p><span class="before">선</span>{{ game.home_pitcher }} </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        {% endfor %}
                     </ul>
                  </div>
                  <div class="bx-controls bx-has-controls-direction">
                     <div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div>
                  </div>
               </div>
            </div>
            <!-- // 경기 일정  -->
         </div>
         <div class="game-info">
            <div class="info">
               <div class="team away">
                  <div class="emb"><img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/SS.png" alt=""></div>
               </div>
               <div class="vs">삼성</div>
               <div class="vs">VS</div>
               <div class="vs">KT</div>
               <div class="team home">
                  <div class="emb"><img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/KT.png" alt=""></div>
               </div>
            </div>
            <div class="game-info-top">
               <div id="game-info-top-graphLeft"></div>
               <div id="game-info-top-graphCenter"></div>
               <div id="game-info-top-graphRight"></div>
               <div id="game-info-top-graphRight2"></div>
            </div>
         </div>
      </section>
      <section id="partners">
         <div class="wrapping">
            <div class="kbo-club">
               <ul class="club-list">
                  <li><a href="http://www.tigers.co.kr" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/HT.png" alt="KIA 타이거즈"></a>
                  </li>
                  <li><a href="http://www.samsunglions.com/" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/SS.png" alt="삼성 라이온즈"></a>
                  </li>
                  <li><a href="http://www.lgtwins.com/" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/LG.png" alt="LG 트윈스"></a>
                  </li>
                  <li><a href="http://www.doosanbears.com/" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2025/OB.png" alt="두산 베어스"></a>
                  </li>
                  <li><a href="http://www.ktwiz.co.kr/sports/site/baseball/main.do" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/KT.png" alt="kt wiz"></a>
                  </li>
                  <li><a href="http://www.ssglanders.com" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2024/SK.png" alt="SSG 랜더스"></a>
                  </li>
                  <li><a href="http://www.giantsclub.com/html/" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/LT.png" alt="롯데 자이언츠"></a>
                  </li>
                  <li><a href="http://www.hanwhaeagles.co.kr/" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2025/HH.png" alt="한화 이글스"></a>
                  </li>
                  <li class="nc"><a href="https://www.ncdinos.com/" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/NC.png" alt="NC 다이노스"></a>
                  </li>
                  <li><a href="http://www.heroesbaseball.co.kr/index.do" target="_blank">
                     <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/WO.png" alt="키움 히어로즈"></a>
                  </li>
               </ul>
            </div>
         </div>
      </section>
      <!-- // container -->	
      <hr>

      <script>
         const itemsPerPage = 5;  
         const slides = document.querySelectorAll('.game-cont');
         const track = document.querySelector('.game-list-n');
         const totalPages = Math.ceil(slides.length / itemsPerPage);
         let currentPage = 3;

         const prevBtn = document.querySelector('.bx-prev');
         const nextBtn = document.querySelector('.bx-next');

         function updateSlider() {
            if (currentPage === 1) {
               prevBtn.style.display = 'none';
            } else {
               prevBtn.style.display = 'block';
            }
            if (currentPage === totalPages) {
               nextBtn.style.display = 'none';
            } else {
               nextBtn.style.display = 'block';
            }
           const offset = (currentPage - 1) * 1050;
           track.style.transform = `translateX(-${offset}px)`;
         }

         prevBtn.addEventListener('click', (e) => {
           e.preventDefault();
           if (currentPage > 1) {
             currentPage--;
             updateSlider();
           }
         });

         nextBtn.addEventListener('click', (e) => {
           e.preventDefault();
           if (currentPage < totalPages) {
             currentPage++;
             updateSlider();
           }
         });

         updateSlider();
      </script>
      <script src="static/js/chart.js" type="text/javascript"></script>
      <script src="static/js/script.js" type="text/javascript"></script>

      {% include "layout/footer.html" %}
      
   </div>
   <!-- // wrap -->
{% endblock %}