<footer>
   <section id="partners">
      <div class="wrapping">
         <div class="notice">
            <span class="notice-title">KBO 데이터 포털 사용에 대한 안내</span>
            <p>
               - 본 사이트는 KBO 리그 관련 데이터를 수집 및 시각화하는 <span style="color: red;">비상업적 개인 프로젝트</span>로 개발되었습니다.<br/>
               - 데이터는 KBO 공식 웹사이트 및 관련 사이트에서 <span style="color: red;">크롤링을 통해 수집</span>된 정보이며, KBO나 제3의 데이터 제공업체와는 무관합니다.<br/>
               - 본 사이트에서 제공되는 기록은 경기 중계 및 공식 기록과 차이가 있을 수 있으며, 정확한 공식 기록은 반드시 KBO 공식 웹사이트를 참고하시기 바랍니다.<br/>
               - 일부 데이터는 경기 요약 영상, 텍스트 중계 등 <span style="color: red;">영상 및 텍스트 기반 정보로 수집된 부가기록</span>으로 실제 공식기록과 다를 수 있습니다.<br/>
               - 본 사이트에서 제공하는 데이터는 실시간으로 반영되지 않을 수 있으며, 경기 종료 후 일정 시간 내에 업데이트됩니다.<br/>
               - 연도별 또는 항목별로 일부 데이터가 누락되거나 제공되지 않을 수 있으며, 이는 원본 데이터의 구조 및 제공 방식에 따라 달라질 수 있습니다.<br/>
               - 본 프로젝트는 <span style="color: red;">연구 및 학습 목적</span>으로 운영되며, 상업적 목적이 전혀 없음을 명확히 밝힙니다.<br/>
            </p>
         </div>
         <div class="kbo-club">
            <ul class="club-list">
               <li><a href="http://www.tigers.co.kr" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/HT.png" alt="KIA 타이거즈"></a>
               </li>
               <li><a href="http://www.samsunglions.com/" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/SS.png" alt="삼성 라이온즈"></a>
               </li>
               <li><a href="http://www.lgtwins.com/" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/LG.png" alt="LG 트윈스"></a>
               </li>
               <li><a href="http://www.doosanbears.com/" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2025/OB.png" alt="두산 베어스"></a>
               </li>
               <li><a href="http://www.ktwiz.co.kr/sports/site/baseball/main.do" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/KT.png" alt="kt wiz"></a>
               </li>
               <li><a href="http://www.ssglanders.com" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2024/SK.png" alt="SSG 랜더스"></a>
               </li>
               <li><a href="http://www.giantsclub.com/html/" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/LT.png" alt="롯데 자이언츠"></a>
               </li>
               <li><a href="http://www.hanwhaeagles.co.kr/" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2025/HH.png" alt="한화 이글스"></a>
               </li>
               <li class="nc"><a href="https://www.ncdinos.com/" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/NC.png" alt="NC 다이노스"></a>
               </li>
               <li><a href="http://www.heroesbaseball.co.kr/index.do" target="_blank">
                  <img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/emblem/regular/2022/WO.png" alt="키움 히어로즈"></a>
               </li>
            </ul>
         </div>
      </div>
   </section>
    <div id="fnb">
      <div id="kboInfo" class="wrapping">
         <h2><img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/common/h2_logo.png" alt="KBO"></h2>
         <div class="wrapping fnb-wrap">
            <ul class="fnb-list">
               <li>본 KBO 데이터 포털에서 제공하는 모든 기록, 자료 및 데이터는 비영리적 학습 및 연구 목적 외에는 운영자의 사전 허가 없이 복사, 저장, 배포, 판매할 수 없습니다. 기사 작성이나 보도 등 외부 활용이 필요한 경우, 모든 정보는 반드시 재가공하여 활용되어야 합니다.</li>
               <li>
                  <div class="copyright">
                     <span>Copyright (c) 2025 Rooam Lee. All rights reserved.</span>
                  </div>
               </li>
            </ul>
         </div>
      </div>
    </div>
</footer>