<footer>
    <div id="fnb">
       <div class="wrapping fnb-wrap">
          <ul class="fnb-list">
             <li class="privacy"><a href="/Etc/Privacy.aspx">개인정보 처리방침</a></li>
             <li><a href="/Schedule/ScoreBoard.aspx">문자중계</a></li>
             <li><a href="/Kbo/Board/Faqs/List.aspx">고객질문</a></li>
             <li><a href="/Etc/SiteMap.aspx">사이트맵</a></li>
          </ul>
       </div>
    </div>
    <div id="kboInfo" class="wrapping">
       <h2><a href="/Etc/PressRelease.aspx"><img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/common/h2_logo.png" alt="KBO"></a></h2>
       <address class="kbo-info">
          <div class="address01">
             <p>(사)한국야구위원회 | 서울시 강남구 강남대로 278 | 02)3460-4600</p>
          </div>
       </address>
       <div class="copyright">
          <span>Copyrightⓒ KBO, All Rights Reserved.</span>
       </div>
    </div>
</footer>