<header>
    <div class="wrapping lnb-wrap fixed">
       <div class="lnb-box">
          <h1 class="logo"><a href="/Default.aspx"><img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/common/h1_logo.png" alt=""><span>데이터 포털</span></a></h1>
          <nav>
             <ul id="lnb">
                <li class=""><a href="/Player/Search.aspx">데이터센터</a></li>
                <li class="futures"><a href="/Futures/Main.aspx">퓨처스리그</a></li>
                <li id="market" class="market"><a href="https://www.kbomarket.com/" target="_blank">KBO 마켓</a></li>
             </ul>
          </nav>
       </div>
    </div>
</header>