<header>
    <div class="wrapping lnb-wrap fixed">
       <div class="lnb-box">
          <h1 class="logo"><a href target="_blank"><img src="//6ptotvmi5753.edge.naverncp.com/KBO_IMAGE/KBOHome/resources/images/common/h1_logo.png" alt=""><span>데이터 포털</span></a></h1>
          <nav>
             <ul id="lnb">
                <li><a href target="_blank">데이터센터</a></li>
                <li><a href="https://www.koreabaseball.com/Default.aspx" target="_blank">KBO</a></li>
             </ul>
          </nav>
       </div>
    </div>
</header>